<section class="space-2 m-2 h-full">
  <header class="flex justify-center p-4 mb-2">
    <h1 class="md:text-5xl sm:text-3xl font-bold font-sans">Lead Generation</h1>
  </header>
  <div class="max-w-9xl m-auto mt-8">
    <%= render "form", loan: @loan %>
  </div>
</section>